<template name="projectList">
<section class="content wrap">
  <h2 class="title">Projects </h2>
  <article>
    <h3>SIDE PROJECTS</h3>
    <p>Some of my finished and current side projects.</p>
    <div class="projects clearfix">
      {{#each projects}}
        <div class="project" style="background-image:url(/assets/images/thumbnails/cdnatives.jpg)">
          <a href="/projects/{{slug}}">
            <h5>{{title}}</h5>
            <p>{{description}}</p>
          </a>
        </div>
      {{/each}}
      <hr>
    </div>
  </article>
</section>
</template>